@media screen and (max-width:769px) {
  nav ul {
    position: fixed;
    top: 10vh;
    right: -40vw;
    width: 40vw;
    height: 100vh;
    background-color: rgba(24, 22, 22, 0.95);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  nav ul.active {
    right: 0;
  }

  nav ul li {
    margin-bottom: 25px;
  }

  .mobile{
    display: block;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .mobile i{
    font-size: 24px;
    cursor: pointer;
  }
}