/* Global style of the site */
:root {
  --primary-color: #e08a12;
  --primary-color-transparent: rgba(224, 138, 18, 0.3);
  --accent-primary-color: #d47910;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --background-color: rgba(24, 22, 22, 0.5);
  --text-color: white;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
  background-image: url("/src/assets/img/site-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: var(--text-color);
}

.primary-transparent-bg {
  background-color: var(--primary-color-transparent);
}

.global-appearance {
  background-color: var(--background-color);
  color: var(--text-color);
}

.custom-btn {
  color: var(--text-color);
  border: 1px solid var(--accent-primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  transition: transform 0.2s ease;
}

.custom-btn:hover {
  background-color: var(--primary-color);
  text-decoration: none;
  transform: scale(1.02);
}

.custom-btn.active {
  background-color: var(--accent-primary-color);
  color: var(--text-color);
}

.custom-btn:focus {
  outline: none;
  box-shadow: 0 0 10px var(--shadow-color);
}

.custom-btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.hero-banner {
  min-height: 80vh;
  width: 100%;
}

.grid-card {
  padding: 1rem;
  min-block-size: 7rem;
  border-radius: 0.5rem;
}

/* Navbar and footer */
.nav-bar,
.footer {
  background-image: url("/src/assets/img/site-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.navbar-div,
.footer-div {
  height: 10vh;
}

.brand {
  font-weight: bold;
  font-size: 24px;
  color: #b1d0ee !important;
}

.brand svg {
  max-height: 40px;
  width: auto;
}

.brand:hover {
  color: white !important;
  cursor: pointer;
}

.nav-button{
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  height: 10vh;
}

.sticky-bottom {
  z-index: 900; /*Reduced from 1020 to 1000 to avoid overlapping with the navbar*/
}

.nav-button a:hover,
.nav-button.active a {
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}

.nav-button a::after {
  transition: 0.3s ease-in-out;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.nav-button a:hover::after {
  width: 100%;
}

.nav-button.active a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.mobile {
  display: none;
}

.mobile i {
  color: #fff;
  align-items: center;
  font-size: 1.5rem;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.z-index-max {
  z-index: 1030; /* When overlay need to go over navbar and footer */
}

/* Home Page */
.welcome {
  box-shadow: 0 0 10px var(--shadow-color);
  border-radius: 10px;
  padding: 20px;
}

/* Home Page -> Dashboard */
.dashboard h1 {
  color: var(--text-color);
  font-weight: bold;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Dashboard-grid {
  display: grid;
  gap: 1rem;
}

/* Form Session (Edit or create) */
.form-style {
  border-radius: 0.5rem;
}

.form-style form {
  padding: 20px;
}

.difficulty-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.difficulty-border {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-style input,
.form-style select,
.form-style textarea,
.form-style .custom-select {
  opacity: 0.8;
}

/* Conteneur principal */
.session-form-grid {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

/* SessionHistory Component */
/* PlaceHolder */
.flex-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  height: auto;
}

/* Conteneur principal */
.grid-table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 0.5rem;
}

/* En-tête */
.grid-header {
  font-weight: bold;
  text-align: left;
  text-justify: auto;
  padding: 10px 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.5rem;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Center the text */
  display: flex;
  align-items: center;
}

.button-cell {
  align-self: center;
}

/* Cellules */
.grid-cell {
  padding: 10px 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  /* Center the text */
  display: flex;
  align-items: center;
}

.grid-cell:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-cell,
.grid-header {
  cursor: default;
}

/* Boutons d'édition */
.div-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.btn-icon {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 4px;
  margin: 0 2px;
  transition: transform 0.2s ease;
}

.btn-icon:hover {
  transform: scale(1.1);
}

.custom-btn-primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.custom-btn-primary:hover {
  color: white;
  background-color: var(--primary-color);
}

.custom-btn-danger {
  border: 1px solid #dc3545;
  color: #dc3545;
}

.custom-btn-danger:hover {
  color: white;
  background-color: #dc3545;
}

.btn-icon-list{
  color: #fff;
  border: 1px solid #fff;
}

.btn-icon-list:hover {
  color: black;
  background-color: white;
}

.btn-icon:focus {
  outline: none;
}

/* Modal style */
/* Contenu principal de la modal */
.custom-modal-content {
  background-color: #f8f9fa;
  /* Fond gris clair */
  /* border: 1px solid #dee2e6; */
  /* Bordure douce */
  border-radius: 0.5rem;
  /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  /* Ombre élégante */
}

/* En-tête */
.custom-modal-header {
  background-color: #343a40;
  /* Fond sombre */
  color: #ffffff;
  /* Texte blanc */
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.custom-modal-title {
  font-weight: 500;
  font-size: 1.25rem;
}

/* Corps de la modal */
.custom-modal-body {
  color: #212529;
  /* Texte noir */
  font-size: 1rem;
  line-height: 1.5;
  padding: 1.5rem;
}

/* Pied de page */
.custom-modal-footer {
  padding: 1rem;
  background-color: #e9ecef;
  border-top: 1px solid #dee2e6;
}

/* Boutons */
.btn-outline-danger:hover {
  color: #fff !important;
}

/* Profile Page */
.profile-grid {
  display: grid;
  gap: 1rem;
  padding: 2.25rem;
}

.personnal-informations {
  background-image: linear-gradient(62deg, #fbab7e, #f7ce68);
}

/* MAP */
.map {
  height: 60vh;
  width: 100%;
}

/* Login */
.login-form {
  width: 30%;
}

.login-grid {
  display: grid;
  gap: 0.5rem;
}

.error-message {
  border: 1px solid #f72a3e;
  color: white;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: rgba(247, 42, 62, 0.1);
  font-size: 0.9rem;
  margin-top: 8px;
}
