body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  /* Empêche le scroll horizontal */
  background-image: url("/src/assets/img/site-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.welcome,
.card,
.newSession form,
.navbar,
.footer {
  background-color: rgba(24, 22, 22, 0.5);
  color: white;
}

.welcome {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.newSession form {
  padding: 20px;
  border-radius: 10px;
}

/* Personnalisation de la navbar */
.nav-bar,
.footer {
  background-image: url("/src/assets/img/site-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.navbar-div,
.footer-div {
  height: 10vh;
  background-color: rgba(24, 22, 22, 0.5);
}

.brand {
  font-weight: bold;
  font-size: 24px;
  color: #b1d0ee !important;
}

.brand svg {
  max-height: 40px;
  width: auto;
}

.brand:hover {
  color: white !important;
  cursor: pointer;
}

.nav-button,
.btn {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-button a:hover,
.nav-button.active a {
  color :#e08a12;
  text-decoration: none;
  cursor: pointer;
}

.nav-button a::after{
  transition: 0.3s ease-in-out;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #e08a12;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.nav-button a:hover::after {
  width: 100%;
}

.nav-button.active a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e08a12;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.mobile {
  display: none;
}

.mobile i{
  color: #fff;
  align-items: center;
  font-size: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.btn {
  background-color: #e08a12;
  border-radius: 10px;
  padding: 5px 10px;
}

.btn:hover {
  background-color: #e08a12;
  text-decoration: none;
}

.btn.active {
  background-color: #d47910;
  color: #ffffff;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-banner {
  min-height: 80vh;
}

/* New session */

/* Style pour les ronds de difficulté */
.difficulty-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.newSession input,
.newSession select,
.newSession textarea {
  opacity: 0.8;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.9rem;
  height: 10vh;
}

.sticky-bottom {
  z-index: 1000; /*Reduced from 1020 to 1000 to avoid overlapping with the navbar*/
}

.newSession form {
  border-radius: 10px;
}

h2,
h3 {
  color: #e9ecef;
}

/* Dashboard */

.dashboard h1 {
  color: #e9ecef;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

