body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  /* Empêche le scroll horizontal */
  background-image: url("/src/assets/img/site-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.welcome,
.card,
.newSession form,
.navbar,
.footer {
  background-color: rgba(24, 22, 22, 0.5);
  color: white;
}

.welcome,
.location-search {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.newSession form {
  padding: 20px;
  border-radius: 10px;
}

/* Personnalisation de la navbar */
.nav-bar,
.footer {
  background-image: url("/src/assets/img/site-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.navbar-div,
.footer-div {
  height: 10vh;
  background-color: rgba(24, 22, 22, 0.5);
}

.brand {
  font-weight: bold;
  font-size: 24px;
  color: #b1d0ee !important;
}

.brand svg {
  max-height: 40px;
  width: auto;
}

.brand:hover {
  color: white !important;
  cursor: pointer;
}

.nav-button,
.btn {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.nav-button a:hover,
.nav-button.active a {
  color :#e08a12;
  text-decoration: none;
  cursor: pointer;
}

.nav-button a::after{
  transition: 0.3s ease-in-out;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #e08a12;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.nav-button a:hover::after {
  width: 100%;
}

.nav-button.active a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #e08a12;
  position: absolute;
  bottom: -4px;
  left: 0px;
}

.mobile {
  display: none;
}

.mobile i{
  color: #fff;
  align-items: center;
  font-size: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

.z-index-max{
  z-index: 1030;
}

.custom-btn {
  color: #e08a12;
  border-radius: 5px;
  border: 1px solid #e08a12;
  padding: 5px 10px;
}

.custom-btn:hover {
  background-color: #e08a12;
  text-decoration: none;
}

.custom-btn.active {
  background-color: #d47910;
  color: #ffffff;
}

.custom-btn:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-banner {
  min-height: 80vh;
  width: 100%;
}

/* New session */

/* Style pour les ronds de difficulté */
.difficulty-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.difficulty-border {
  border: 1px solid #1e1e1f;
}

.newSession input,
.newSession select,
.newSession textarea,
.newSession .custom-select {
  opacity: 0.8;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.9rem;
  height: 10vh;
}

.sticky-bottom {
  z-index: 1000; /*Reduced from 1020 to 1000 to avoid overlapping with the navbar*/
}

.newSession form {
  border-radius: 10px;
}

h2,
h3 {
  color: #e9ecef;
}

/* Dashboard */

.dashboard h1 {
  color: #e9ecef;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Composant sessionHistory */
/* Conteneur principal */
.grid-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  /* Ajuste les proportions */
  gap: 10px 5px;
  align-items: center;
}

/* En-tête */
.grid-header {
  font-weight: bold;
  text-align: left;
  padding: 10px 5px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Cellules */
.grid-cell {
  padding: 10px 5px;
  background-color: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Boutons d'édition */
.div-button {
  display: flex;
  justify-content: flex-end;
  /* Aligne le bouton à droite */
  padding-right: 5px;
}

.btn-icon {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0 5px;
  border-radius: 4px;
}

.btn-icon-edit {
  color: #e08a12;
  border: 1px solid #e08a12;
}

.btn-icon-edit:hover {
  color: #d47910;
}

.btn-icon-delete {
  color: #dc3545;
  border: 1px solid #dc3545;
}

.btn-icon-delete:hover {
  color: #c82333;
}

.btn-icon-list {
  color: #fff;
  border: 1px solid #fff;
}

.btn-icon:focus {
  outline: none;
}

/* Responsive */
@media (max-width: 768px) {
  .grid-table {
    font-size: 0.85rem;
  }
}

/* Modal style */
/* Contenu principal de la modal */
.custom-modal-content {
  background-color: #f8f9fa;
  /* Fond gris clair */
  border: 1px solid #dee2e6;
  /* Bordure douce */
  border-radius: 0.5rem;
  /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  /* Ombre élégante */
}

/* En-tête */
.custom-modal-header {
  background-color: #343a40;
  /* Fond sombre */
  color: #ffffff;
  /* Texte blanc */
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.custom-modal-title {
  font-weight: 500;
  font-size: 1.25rem;
}

/* Corps de la modal */
.custom-modal-body {
  color: #212529;
  /* Texte noir */
  font-size: 1rem;
  line-height: 1.5;
  padding: 1.5rem;
}

/* Pied de page */
.custom-modal-footer {
  padding: 1rem;
  background-color: #e9ecef;
  border-top: 1px solid #dee2e6;
}

/* Boutons */
.btn-outline-danger:hover {
  color: #fff !important;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}